{% extends 'base.html' %}
{% block content %}
    <br>
    <div class = "row">
        <a href={% url 'neworder' %} class = "button">新規注文</a>
        <a href={% url 'addorder' %} class = "button">追加注文</a>
    </div>
    <br>
    <div class = "row">
        <a href="" class = "button">会計</a>
        <a href={% url 'unprovided' %} class = "button">未提供商品</a>
    </div>
    <br>
    <div class = "row">
        <a href="" class = "button">未収オーダー</a>
        <a href="" class = "button">会計済み</a>
    </div>
    <br>
    <div class = "row">
        <a href={% url 'restregister' %} class = "button">残数登録</a>
        <a href={% url 'restcheck' %} class = "button">残数確認</a>
    </div>
    <br>
    <div class = "row">
        <a href={% url 'append_menu' %} class = "button">商品登録</a>
        <a href="" class = "button">その他</a>
    </div>
    <br>
{% endblock content %}