<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sales.css' %}">
    <title>注文アプリ</title>
</head>
<body>
    <header class = "header">
        <a href={% url 'front' %}>home</a>
    </header>
    <table>
        <thead>
            <tr>
                <th>日時</th>
                <th>売上</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
                <tr>
                    {% for item in sale %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>